block append variables
  -
    var pageHeader = {
      title: 'Fancy Tab',
      description: 'These modular elements can be readily used and customized in every layout across pages.',
      url: 'https://themewagon.gitlab.io/fancy-tab',
      linkText: 'See Documentation'
    }
block append styles

mixin fancytab-with-icon-doc
  h5.mb-1 Example
  p.mb-0
    | Add class 
    code .active
    |  to 
    code .nav-bar-item.px-3.px-sm-4
    |  and corresponding 
    code .tab-content
    |  which you want to show after page loading.

mixin fancytab-with-icon
  .fancy-tab
    .fancy-bar.justify-content-center
      .fancy-bar-item.px-3.px-sm-4.active
        span.fas.fa-home.fs-2
        div.mt-1 Home
      .fancy-bar-item.px-3.px-sm-4
        span.fas.fa-user-circle.fs-2
        div.mt-1 Profile
      .fancy-bar-item.px-3.px-sm-4
        span.fas.fa-cog.fs-2
        div.mt-1 Settings
    .fancy-tab-contents
      .fancy-tab-content.active
        p.lead
          | Duis ac facilisis mauris. Pellentesque leo tortor, maximus sed gravida dapibus, suscipit non nisi. Duis ultrices diam a maximus imperdiet. Nam eu purus a erat tristique ornare. Donec condimentum tristique diam eu congue.
      .fancy-tab-content
        p.lead
          | Nullam sed tempus mauris, vitae pretium nibh. Nam pretium diam id massa mollis pretium. Aenean lacus massa, tristique id mauris ac, sollicitudin auctor neque. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Nam luctus, sapien ligula finibus turpis.
      .fancy-tab-content
        p.lead
          | Vestibulum convallis diam id nibh tempus, ac scelerisque nulla congue. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Sed eu tellus pharetra, scelerisque nulla in, vehicula libero. Curabitur interdum nec metus ante sed luctus.  

mixin fancy-tab-left-doc
  h5.mb-1 Left Align
  p.mb-0
    | Left align position is the default position. So no class is needed to add.
mixin fancy-tab-left
  .fancy-tab
    .fancy-bar
      .fancy-bar-item.px-3.px-sm-4.active Home
      .fancy-bar-item.px-3.px-sm-4 Profile
      .fancy-bar-item.px-3.px-sm-4 Settings

    .fancy-tab-contents
      .fancy-tab-content.active
        p.lead
          | Duis ac facilisis mauris. Pellentesque leo tortor, maximus sed gravida dapibus, suscipit non nisi. Duis ultrices diam a maximus imperdiet. Nam eu purus a erat tristique ornare. Donec condimentum tristique diam eu congue.

      .fancy-tab-content
        p.lead
          | Nullam sed tempus mauris, vitae pretium nibh. Nam pretium diam id massa mollis pretium. Aenean lacus massa, tristique id mauris ac, sollicitudin auctor neque. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Nam luctus, sapien ligula finibus turpis.

      .fancy-tab-content
        p.lead
          | Vestibulum convallis diam id nibh tempus, ac scelerisque nulla congue. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Sed eu tellus pharetra, scelerisque nulla in, vehicula libero. Curabitur interdum nec metus ante sed luctus.



mixin fancy-tab-center-doc
  h5.mb-1 Center  Align
  p.mb-0
    | Add class 
    code .nav-bar-center
    |  to 
    code .nav-bar
    |  for fancy-tab position and 
    code .text-center
    |  to 
    code .fancy-tab-contents
    |  for content position.


mixin fancy-tab-center
  .fancy-tab
    .fancy-bar.justify-content-center
      .fancy-bar-item.px-3.px-sm-4.active Home
      .fancy-bar-item.px-3.px-sm-4 Profile
      .fancy-bar-item.px-3.px-sm-4 Settings

    .fancy-tab-contents
      .fancy-tab-content.active
        p.lead
          | Duis ac facilisis mauris. Pellentesque leo tortor, maximus sed gravida dapibus, suscipit non nisi. Duis ultrices diam a maximus imperdiet. Nam eu purus a erat tristique ornare. Donec condimentum tristique diam eu congue.

      .fancy-tab-content
        p.lead
          | Nullam sed tempus mauris, vitae pretium nibh. Nam pretium diam id massa mollis pretium. Aenean lacus massa, tristique id mauris ac, sollicitudin auctor neque. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Nam luctus, sapien ligula finibus turpis.

      .fancy-tab-content
        p.lead
          | Vestibulum convallis diam id nibh tempus, ac scelerisque nulla congue. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Sed eu tellus pharetra, scelerisque nulla in, vehicula libero. Curabitur interdum nec metus ante sed luctus.



mixin fancy-tab-right-doc
  h5.mb-1 Right  Align
  p.mb-0
    | Add class 
    code .nav-bar-right
    |  to 
    code .nav-bar
    |  for fancy-tab position and 
    code .text-right
    |  to 
    code .fancy-tab-contents
    |  for content position.

mixin fancy-tab-right
  .fancy-tab
    .fancy-bar.justify-content-end
      .fancy-bar-item.px-3.px-sm-4.active Home
      .fancy-bar-item.px-3.px-sm-4 Profile
      .fancy-bar-item.px-3.px-sm-4 Settings

    .fancy-tab-contents
      .fancy-tab-content.active
        p.lead
          | Duis ac facilisis mauris. Pellentesque leo tortor, maximus sed gravida dapibus, suscipit non nisi. Duis ultrices diam a maximus imperdiet. Nam eu purus a erat tristique ornare. Donec condimentum tristique diam eu congue.

      .fancy-tab-content
        p.lead
          | Nullam sed tempus mauris, vitae pretium nibh. Nam pretium diam id massa mollis pretium. Aenean lacus massa, tristique id mauris ac, sollicitudin auctor neque. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Nam luctus, sapien ligula finibus turpis.

      .fancy-tab-content
        p.lead
          | Vestibulum convallis diam id nibh tempus, ac scelerisque nulla congue. Cras laoreet nunc nibh, ac tristique orci rutrum quis. Sed eu tellus pharetra, scelerisque nulla in, vehicula libero. Curabitur interdum nec metus ante sed luctus.